<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{{ site.name.content }}</title>
    
    <!-- Bootstrap core CSS -->
    <link href="{{ staticDir }}/css/bootstrap.min.css" rel="stylesheet">
    <script src="{{ staticDir }}/js/jquery-2.1.1.min.js" type="text/javascript"></script>

    <!-- Custom styles for this template -->

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Header -->
    {% block header %}{% endblock header %}
    <!-- End Header -->
  </head>

  <body>

    <div class="container">

      <div class="blog-header">
        <h1 class="blog-title">{{ site.name.content }}</h1>
        <p class="lead blog-description">{{ page.name.content }}</p>
      </div>

      <div class="row">

        <div class="col-sm-8 blog-main">
          <!-- Content -->
          {% block content %}{% endblock content %}
          <!-- End Content -->
        </div><!-- /.blog-main -->
        {% include "fenixedu-default-theme/menu.html" %}

      </div><!-- /.row -->

    </div><!-- /.container -->

    <div style="margin-top:50px;"class="blog-footer container">
      <p>{{app.title.content}}</p>
      <p class="small">{{ app.title.content }}</p>
      <p class="small">{{ app.title.copyright }}</p>
      </p>
    </div>

  </body>
</html>
