{% extends "fenixedu-default-theme/base.html" %}

{% macro referencesList(refs) %}
  {% if refs is not empty %}
    {% for ref in refs %}
		<li>{{ reference(ref) }}</li>
	{% endfor %}
  {% endif %}
{% endmacro %}

{% macro reference(ref) %}
	<a href="{{ ref.url is empty ? "'#'" : ref.url }}"><span>{{ ref.title | raw }}</span></a>
	<span>{{ ref.authors | raw }}</span>
	<span>{{ ref.year | raw }}</span>
	<span>{{ ref.reference | raw }}</span>
{% endmacro %}

{% block content %}
    {% if (mainReferences is not empty) or (nonOptionalReferences is not empty) %}
        <h3>{{ i18n('resources.ApplicationResources', 'message.recommendedBibliography') }}</h3>
        <ul>
            {{ referencesList(mainReferences) }}
            {{ referencesList(nonOptionalReferences) }}
        </ul>
    {% endif %}

    {% if (secundaryReferences is not empty) or (optionalReferences is not empty) %}
        <h3>{{ i18n('resources.ApplicationResources', 'message.optionalBibliography') }}<h3>
        <ul>
            {{ referencesList(secundaryReferences) }}
            {{ referencesList(optionalReferences) }}
        </ul>
    {% endif %}
{% endblock content %}
