{% extends "fenixedu-default-theme/base.html" %}

{% block content %}

	<h2>{{ i18n('resources.ApplicationResources', 'title.evaluationMethod') }}</h2>

	{% if evaluationMethod is not empty and evaluationMethod.evaluationElements is not empty %}
		<p>{{ evaluationMethod.evaluationElements.content | raw }}</p>
	{% elseif evaluationMethodText is not empty %}
		<p>{{ evaluationMethodText | raw }}</p>
	{% else %}
		<p>{{ i18n('resources.ApplicationResources', 'message.evaluation.not.available') }}</p>
	{% endif %}


{% endblock content %}