{% extends "base.html" %}
{% import "view.html" %}
{% macro personName(person) %}
	{% if person.homepage is not empty %}
		{% if person.homepage.activated is not empty %}
			{% if person.homepage.activated %}
				<a href="{{ person.homepage.fullPath }}" >{{ person.nickname }}</a>
			{% else %}
				<p>{{ person.name }}</p>
			{% endif %}
		{% else %}
			{{ person.nickname }}
		{% endif %}
	{% endif %}
{% endmacro %}
{% block content %}


{% if executionCourse.executionPeriod.inquiryResponsePeriod is not empty
	and executionCourse.availableForInquiries 
	and executionCourse.executionPeriod.inquiryResponsePeriod.insideResponsePeriod %}

	<p>
		<strong>{{ i18n('resources.ApplicationResources', 'message.inquiries.available.prefix') }}</strong>
		{% if isStudent %}
			{{ i18n('resources.ApplicationResources', 'message.inquiries.available.students') }}
			<a href="{{ showCoursesToAnswerUrl }}">
				{{ i18n('resources.ApplicationResources', 'message.inquiries.available.at.here') }}
			</a>
		{% else %}
			{{ i18n('resources.ApplicationResources', 'message.inquiries.available.non.students') }}
		{% endif %}
	</p>
{% endif %}

{% if pagination.posts is not empty %}
	{% set announcement = pagination.posts | head %}
	<blockquote>
		{{ viewPost(announcement) }}
		<footer>
			<a href="announcements">Other Announcements</a>
<!-- 			{% for p in pagination.posts | tail %}
				<ul class="list-inline">
					<li class="small blog-post-meta">
						<a href="{{ p.address }}">{{ p.name.content }}</a>
						({{ p.creationDate|formatDate("MMMM d") }})
					</li>
				</ul>
			{% endfor %} -->
		</footer>
	</blockquote>
{% endif %}


{% if professorships is not empty %}
	<h4>{{ i18n('resources.ApplicationResources', 'label.lecturingTeachers') }}</h4>

	{% for professorship in professorships %}
		{% if professorship.responsibleFor %}
			<p>
				{{ personName(professorship.person)}}
				({{ i18n('resources.ApplicationResources', 'label.responsible') }})
			</p>
		{% endif %}
	{% endfor %}

	{% for professorship in professorships %}
		{% if not professorship.responsibleFor %}
			<p>{{ personName(professorship.person)}}</p>
		{% endif %}
	{% endfor %}

{% endif %}

{% endblock content %}
