<h2>{{ i18n('resources.InquiriesResources', 'label.teachingInquiries.studentInquiriesResults') }}</h2>

{% if hasAccess %}
	{% if inquiriesResultsBean.studentInquiriesCourseResults is not empty %}	
		{% for courseResult in studentInquiriesResults %}
			<p>
				<strong>{{ i18n('resources.InquiriesResources', 'link.teachingInquiries.cuResults') }}</strong>

				{% set url = inquiriesResultsBean.showInquiryshowInquiryCourseResultUrl
					+ "&resultId=" + courseResult.studentInquiriesCourseResult.externalId 
				%}

				<a href="{{ url }}">
					{{ courseResult.studentInquiriesCourseResult.executionCourse.nome }}
					 - 
					{{ courseResult.studentInquiriesCourseResult.executionDegree.degreeCurricularPlan.name }}
				</a>

				{% if courseResult.studentInquiriesTeachingResults %}

					<ul>
						{% for teachingResult in courseResult.studentInquiriesTeachingResults %}
							<li>
								{% set url = inquiriesResultsBean.showInquiryTeachingResultUrl
									+ "&resultId=" + teachingResult.externalId
								%}
								<a href="{{ url }}">
									{{ teachingResult.professorship.person.name }}
									&nbsp;
									({{ i18n('resources.EnumerationResources', teachingResult.shiftType.name) }})
									<br />
								</a>
							</li>
						{% endfor %}
					</ul>

				{% endif %}
		{% endfor %}
	{% endif %}
{% else %}
	<p>{{ i18n('resources.InquiriesResources', 'message.inquiries.information.not.public') }}<a href="{{ loginUrl }}">Login</a></p>
{% endif %}