<h2>{{ i18n('resources.InquiriesResources', 'label.teachingInquiries.studentInquiriesResults') }}</h2>

{% if hasAccess %}
	{% if inquiriesResultsBean.studentInquiriesCourseResults is not empty %}

		{% for courseResult in inquiriesResultsBean.studentInquiriesCourseResults %}
			<p>
				<strong>
					{% set url = inquiriesResultsBean.showInquiryshowInquiryCourseResultUrl
						+ "&resultId=" + courseResult.studentInquiriesCourseResult.externalId
						+ "&executionCourseID=" + inquiriesResultsBean.executionCourse.externalId
					%}
					{{ i18n('resources.InquiriesResources', 'link.teachingInquiries.cuResults') }}
					<a href="{{ url }}">
						({{ courseResult.studentInquiriesCourseResult.executionCourse.nome }}
						&nbsp;&#45;&nbsp;
						{{ courseResult.studentInquiriesCourseResult.executionDegree.degreeCurricularPlan.name }})
					</a>
				</strong>
			</p>
			{% if courseResult.studentInquiriesTeachingResults is not empty %}
				<ul>
					{% for teachingResult in courseResult.studentInquiriesTeachingResults %}
						<li>
							{% set url = inquiriesResultsBean.showInquiryTeachingResultUrl
								+ "&resultId=" + teachingResult.externalId
								+ "&executionCourseID=" + inquiriesResultsBean.executionCourse.externalId
							%}
							<a href="{{ url }}">
								{{ teachingResult.professorship.person.name }}
								&nbsp;
								({{ i18n('resources.EnumerationResources', teachingResult.shiftType.name) }})
								<br />
							</a>
						</li>			
					{% endfor %}
				</ul>
			{% endif %}
		{% endfor %}
	{% endif %}
	
	<p><strong>{{ i18n('resources.InquiriesResources', 'title.inquiries.teachingReports') }}<strong></p>
	<ul>
		{% for professorship in inquiriesResultsBean.executionCourse.professorships %}
			{% set showResults = professorship.teachingInquiry.resultsDisclosureToAcademicComunity %}
			{% if professorship.teachingInquiry is not empty and showResults is not empty and showResults %}
				<li>
					{% set url = inquiriesResultsBean.showInquiryTeachingReportUrl
						+ "&teachingInquiry=" + professorship.teachingInquiry.externalId
						+ "&degreeCurricularPlanID=" + degreeCurricularPlanID
						+ "&executionCourseID=" + inquiriesResultsBean.executionCourse.externalId
					%}
					<a href="{{ url }}">{{ professorship.person.name }}</a>
				</li>
			{% endif %}
		{% endfor %}
	</ul>

	<p><strong>{{ i18n('resources.InquiriesResources', 'title.inquiries.delegateReports') }}<strong></p>
	<ul>
		{% for delegateInquiry in executionCourse.yearDelegateCourseInquiries %}
			{% if delegateInquiry.reportDisclosureAuthorization equals "YES" %}
				{% set url = inquiriesResultsBean.showYearDelegateInquiryReportUrl
					+ "&yearDelegateInquiryId=" + delegateInquiryID
					+ "&degreeCurricularPlanID=" + degreeCurricularPlanID 
					+ "&executionCourseID=" + inquiriesResultsBean.executionCourse.externalId
				%}
				<a href="{{ url }}">{{ delegateInquiry.delegate.registration.student.person.name }}</a>
			{% endif %}
		{% endfor %}
	</ul>

{% else %}
	<p>{{ i18n('resources.InquiriesResources', 'message.inquiries.information.not.public') }}<a href="{{ loginUrl }}">Login</a></p>
{% endif %}