{% extends "fenixedu-default-theme/base.html" %}

{% block content %}
	{% if inquiriesResultsBean.isNewQuc %}
		{% if inquiriesResultsBean.isNewQucAvailable %}
			{% include "fenixedu-default-theme/inquiriesCurricularResults.html" %}
		 {% else %}
			{% include "fenixedu-default-theme/inquiriesResultsNotAvailable.html" %}
		{% endif %}
	{% else %}
		{% if inquiriesResultsBean.isOldQucAvailable %}
			{% if inquiriesResultsBean.isOldQucStudentCourseResultsAvailable %}
				{% include "fenixedu-default-theme/inquiriesStudentResults.html" %}
			{% else %}
				{% if inquiriesResultsBean.isOldQucStudentCourseFullResultsAvailable %}
					{% include "fenixedu-default-theme/inquiriesStudentFullResults.html" %}
				{% else %}
					{% include "fenixedu-default-theme/inquiriesResultsNotAvailable.html" %}
				{% endif %}
			{% endif %}
		{% else %}
			{% include "fenixedu-default-theme/inquiriesResultsNotAvailable.html" %}
		{% endif %}
	{% endif %}
{% endblock content %}