{% extends "base.html" %}

{% macro evaluationMethod(evaluation) %}
	{% set evaluationClass = evaluation.class.name %}
	{% if evaluation.publishmentMessage is empty %}
		""
	{% elseif evaluationClass equals "net.sourceforge.fenixedu.domain.onlineTests.OnlineTest" %}
		{{ evaluation.distributedTest.evaluationTitle }}
	{% elseif evaluationClass equals "net.sourceforge.fenixedu.domain.Project" %}
		{{ evaluation.name }}
	{% elseif evaluationClass equals "net.sourceforge.fenixedu.domain.WrittenTest" %}
		{{ evaluation.description }}
	{% elseif evaluationClass equals "net.sourceforge.fenixedu.domain.Exam" %}
		{{ evaluation.season }}
	{% elseif evaluationClass equals "net.sourceforge.fenixedu.domain.FinalEvaluation" %}
		{{ i18n('resources.ApplicationResources', 'label.final.evaluation') }}
	{% elseif evaluationClass equals "net.sourceforge.fenixedu.domain.AdHocEvaluation" %}
		{{ evaluation.name }}
	{% endif %}
{% endmacro %}

{% block content %}
	<h2>{{ i18n('resources.ApplicationResources', 'title.evaluation') }}</h2>

	<p>{{ i18n('resources.ApplicationResources', 'classification.nonOfficial.information') }}</p>

	<em>({{ i18n('resources.ApplicationResources', 'label.students.size') }}: {{ attendsMap.size() }}</em>

	<table class="tab_complex" cellspacing="1" cellpadding="2">
		<tr>
			<th nowrap>{{ i18n('resources.ApplicationResources', 'label.number') }}</th>
			<th nowrap>{{ i18n('resources.ApplicationResources', 'label.name') }}</th>
			<th nowrap>{{ i18n('resources.ApplicationResources', 'label.Degree') }}</th>
			{% for eval in evaluations %}
				<th nowrap>{{ evaluationMethod(eval) }}</th>
			{% endfor %}
		</tr>
		{% for attendEntry in attendsMap %}
			{% set attends = attendEntry.key %}
			{% set evaluations = attendEntry.value %}
			<tr>
				<td nowrap>{{ attends.registration.number }}</td>
				<td nowrap>{{ attends.registration.person.name }}</td>
				<td nowrap>{{ attends.registration.degreeCurricularPlanName}}</td>
				{% for evaluationEntry in evaluations %}
					{% set mark = evaluationEntry.value %}
					<td nowrap>{{ mark is not empty ? mark.publishedMark : ""}}</td>
				{% endform %}
			</tr>
		{% endfor %}
	</table>
{% endblock content %}
