{% extends "fenixedu-default-theme/base.html" %}

{% block content %}
	{% macro personsCards(persons, title, staticDir) %}

		{% if persons is not empty %}
			<h4>{{ title }}</h4>
			{% for person in persons %}
				<li>
					{{ personCard(person, staticDir) }}
					<hr>
				</li>
			{% endfor %}
		{% endif %}

	{% endmacro %}

	{% macro personCard(person, staticDir) %}
	<div class="person-card">
		<div class="col-md-2 person-photo">
				{% if person is not empty and person.photoPubliclyAvailable %}
					{% set url = "/publico/retrievePersonalPhoto.do?method=retrievePhotographOnPublicSpace&personId="%}
					<img class="img-circle" alt="{{ person.presentationName }}" src="{{ url + person.externalId}}">
				{% else %}
					<img class="img-circle" alt="No Photo Available" src="{{ staticDir }}/images/noPhotoAvailable.gif">
				{% endif %}
		</div>
		<div class="col-md-10 person-details">
			<a href="{{ person.homepageWebAddress }}">
				<p>{{ person.presentationName }}</p>
			</a>
			{% if person.getDefaultEmailAddressValue is not empty %}
				<a href="mailto:{{ person.getDefaultEmailAddressValue }}">
					<p>{{ person.getDefaultEmailAddressValue }}
				</a>
			{% endif %}
		</div>
	</div>
	{% endmacro %}

	{% macro researchUnitMembers(unit, staticDir) %}
		{{ personsCards(unit.researchers, i18n('resources.SiteResources', 'label.researchers'), staticDir) }}

		{{ personsCards(unit.technicalStaff, i18n('resources.SiteResources', 'label.technicalStaff'), staticDir) }}

		{{ personsCards(unit.internships, i18n('resources.SiteResources', 'label.internship'), staticDir) }}

		{{ personsCards(unit.scholarships, i18n('resources.SiteResources', 'label.scholarship'), staticDir) }}
	{% endmacro %}

	<h1>{{ researchUnit.nameWithAcronym }}</h1>

	<div>{{ researchUnitMembers(researchUnit, staticDir) }}</div>

	{% if researchUnit.allCurrentActiveSubUnits is not empty %}
		{% for unit in researchUnit.allCurrentActiveSubUnits %}
			{% if unit.researchUnit %}
				{% set unitUrl = unit.cmsSite.initialPage is not empty ? 'unit.cmsSite.initialPage.pageAddress' : '#'%}
				<a href="{{ unitUrl }}">{{ unit }}</a>
				
				{% if unit.siteAvailable %}
					{{ researchUnitMembers(unit, staticDir) }}		
				{% else %}
					<p>{{ i18n('resources.SiteResources', 'label.noMembersDefined') }}</p>
				{% endif %}
			{% endif %}
		{% endfor %}
	{% endif %}

	<script type="text/javascript">
		/**
		 * When an image fails to load, a default error image is presented.
		**/
		$("img").error(function () {
		  $(this).unbind("error").attr("src", "{{ staticDir }}/images/noPhotoAvailable.gif");
		});
	</script>

	<style type="text/css">
		li {
			list-style-type: none;
		}
		h4 {
			padding-top: 7px;
			padding-bottom: 10px;
		}
		.person-card {
			height: 100px;
			margin: 15px;
		}
		.person-details {
			margin-top: 10px;
		}
	</style>

{% endblock content %}

