{% extends "fenixedu-default-theme/base.html" %}

{% import "fenixedu-default-theme/personCard.html" %}

{% block content %}

	{% macro researchUnitMembers(unit, staticDir) %}
        {% if unit.researchers is empty and unit.technicalStaff is empty and unit.internships is empty and unit.scholarships is empty %}
            <p>{{ i18n('resources.FenixEduCMSResources', 'researchUnit.members.empty') }}</p>
        {% else %}
            {{ personsCards(unit.researchers, i18n('resources.SiteResources', 'label.researchers'), staticDir) }}

            {{ personsCards(unit.technicalStaff, i18n('resources.SiteResources', 'label.technicalStaff'), staticDir) }}

            {{ personsCards(unit.internships, i18n('resources.SiteResources', 'label.internship'), staticDir) }}

            {{ personsCards(unit.scholarships, i18n('resources.SiteResources', 'label.scholarship'), staticDir) }}
        {% endif %}
	{% endmacro %}

	<h4>{{ researchUnit.nameWithAcronym }}</h4>

	<div>{{ researchUnitMembers(researchUnit, staticDir) }}</div>

	{% if researchUnit.allCurrentActiveSubUnits is not empty %}
		{% for unit in researchUnit.allCurrentActiveSubUnits %}
			{% if unit.researchUnit %}
				{% set unitUrl = unit.cmsSite.initialPage is not empty ? 'unit.cmsSite.initialPage.pageAddress' : '#'%}
				<h4><a href="{{ unitUrl }}">{{ unit.nameWithAcronym }}</a></h4>
				
				{% if unit.siteAvailable %}
					{{ researchUnitMembers(unit, staticDir) }}		
				{% else %}
					<p>{{ i18n('resources.SiteResources', 'label.noMembersDefined') }}</p>
				{% endif %}
			{% endif %}
		{% endfor %}
	{% endif %}

	<script type="text/javascript">
		/**
		 * When an image fails to load, a default error image is presented.
		**/
		$("img").error(function () {
		  $(this).unbind("error").attr("src", "{{ staticDir }}/images/noPhotoAvailable.gif");
		});
	</script>

	<style type="text/css">
		.person-card-item {
			list-style-type: none;
		}
		.persons-title {
			padding-top: 7px;
			padding-bottom: 10px;
		}
		.person-card {
			height: 100px;
			margin: 15px;
		}
		.person-details {
			margin-top: 10px;
		}
	</style>

{% endblock content %}

