{% macro menuChildren(menuItems) %}
  {% if menuItems.size != 0 %}
    {% for item in menuItems %}
      {{ menuItem(item) }}
    {% endfor %}
  {% endif %}
{% endmacro %}

{% macro menuItem(item) %}
<li>
  <a href="{{ item.address }}">{{ item.name.content }}</a>
  <ol isOpen={{ item.isOpen }} style="padding-left: 5px;" class="list-unstyled">
    {{ menuChildren(item.children) }}
  </ol>
</li>
{% endmacro %}

<div class="col-sm-3 col-sm-offset-1 blog-sidebar">
  {% for menu in menus %}
    <div class="sidebar-module">
      <h4>{{ menu.name.content }}</h4>
      <ol class="list-unstyled">
      {{ menuChildren(menu.children) }}
      </ol>
    </div>
  {% endfor %}
</div><!-- /.blog-sidebar -->