{% macro menuChildren(menuItems, openItems) %}
  {% if menuItems.size != 0 %}
    {% for item in menuItems %}
      {{ menuItem(item, openItems) }}
    {% endfor %}
  {% endif %}
{% endmacro %}

{% macro menuItem(item, openItems) %}
  {% set isActive = item is not empty and openItems is not empty and item is in(openItems) %}
    <li><a class="{{ isActive ? 'active' : ''}}" href="{{ item.address }}">{{ item.name.content }}</a></li>
  {% if item.childrenSet.size != 0 and isActive %}
    <ol style="padding-left: 5px;" class="list-unstyled">
      {{ menuChildren(item.childrenSorted) }}
    </ol>
  {% endif %}
{% endmacro %}

<div class="col-sm-3 col-sm-offset-1 blog-sidebar">
  {{ menus }}
  {% for menu in menus %}
    <div class="sidebar-module">
      <h4>{{ menu.name.content }}</h4>
      <ol class="list-unstyled">
      {{ menuChildren(menu.childrenSorted, menuItemsOpen) }}
      </ol>
    </div>
  {% endfor %}
</div><!-- /.blog-sidebar -->