{% macro personsCards(persons, title) %}

	{% if persons is not empty %}
		<h4 class="persons-title">{{ title }}</h4>
		{% lazyFor person in persons %}
			<li class="person-card-item">
				{{ personCard(person) }}
				<hr>
			</li>
		{% endLazyFor %}
	{% endif %}

{% endmacro %}

{% macro personCard(person) %}
	{% if person is not empty %}
		<div class="person-card">

			<div class="col-md-2 person-photo">
				<img class="img-circle" alt="{{ person.presentationName }}" src="{{person.user.profile.avatarUrl}}"/>
			</div>

			<div class="col-md-10 person-details">
				<a href="{{ person.homepageWebAddress }}">
					<p>{{ person.presentationName }}</p>
				</a>
				{% if person.getDefaultEmailAddressValue is not empty %}
					<a href="mailto:{{ person.getDefaultEmailAddressValue }}">
						<p>{{ person.getDefaultEmailAddressValue }}
					</a>
				{% endif %}
			</div>

		</div>
	{% endif %}
{% endmacro %}

