{% extends "base.html" %}

{% block content %}
	<h2>{{ i18n('resources.ApplicationResources', 'link.program') }}</h2>

	{% for info in competenceCourseBeans %}

		{% if info.competenceCourse.isApproved %}
			<p>{{ info.name.content }}</p>
		{% endif %}
    
    	{% for curricularCourse in info.curricularCourses %}

    		{% set degree = curricularCourse.degreeCurricularPlan.degree %}
	    	<p>{{ i18n('resources.EnumerationResources', degree.degreeType.name) }}
	    			 {{ i18n('resources.ApplicationResources', 'label.in') }} {{ degree.nameI18N }}
		
		{% endfor %}

		<h4>{{ i18n('resources.ApplicationResources', 'title.program') }}</h4>
		<p>{{ info.program.content | raw }}</p>

	{% endfor %}

	{% for entry in curriculumByCurricularCourse.entrySet %}

		{% set curricularCourse = entry.key %}
		{% set curriculum = entry.value %}
		{% set degree = curricularCourse.degreeCurricularPlan.degree %}
		
		<p>{{ curricularCourse.nameI18N }}</p>

		<h3>{{ i18n('resources.EnumerationResources', degree.degreeType.name) }}
	    			 {{ i18n('resources.ApplicationResources', 'label.in') }} {{ degree.nameI18N }}</h3>

	    {% if curriculum is not empty %}
	    	<h4>{{ i18n('resources.ApplicationResources', 'title.program') }}</h4>
	    	<p>{{ curriculum.programI18N }}</p>
	    {% else %}
	    	{{ i18n('resources.ApplicationResources', 'message.program.not.defined') }}
	    {% endif %}

	{% endfor %}

{% endblock content %}
