{% extends "base.html" %}

{% block content %}

<h2>
	{{ i18n('resources.ApplicationResources', 'label.grouping') }}
	{{ grouping.name }}
</h2>

<br/>

<h3>{{ i18n('resources.ApplicationResources', 'label.students.in.grouping') }}</h3>

<table>
	<tr>
		<th>{{ i18n('resources.ApplicationResources', 'label.student.group.number') }}</th>
		<th>{{ i18n('resources.ApplicationResources', 'label.student.number') }}</th>
		<th>{{ i18n('resources.ApplicationResources', 'label.name') }}</th>
	</tr>
	{% for studentGroup in grouping.studentGroupsOrderedByGroupNumber %}
		{% for attend in studentGroup.attends %}
			{% set student = attend.aluno %}
			<tr>
				<td>{{ studentGroup.groupNumber }}</td>
				<td>{{ student.number }}</td>
				<td>{{ student.person.name }}</td>
			</tr>
		{% endfor %}
	{% endfor %}
</table>

{% endblock content %}